## Python Warm-Up

The goal of this notebook is to introduce the basic building blocks needed for working in Python.

We'll start by talking about the most common data types.

First, are the numeric types - integer and floating-point numbers (floats).

We can do basic arithmetic; be mindful of order of operations if constructing more complicated expressions.

In [7]:
5 + 18

23

In [8]:
(6 + 9) * 3

45

In [9]:
6 + 9 * 3

33

Exponentiation in Python is done using `**`.

In [10]:
2**5

32

Dividing two integers can result in a float.

In [11]:
20 / 7

2.857142857142857

In Python, we can assign a value to a variable using the assignment operator, `=`.

In [53]:
x = 9

In [54]:
x

9

In [55]:
y = 4

In [56]:
x + y

13

Another very common data type is the **string** datatype, which are used for text. Strings are surrounded by quotes (it doesn't matter single or double, as long as they match).

In [57]:
'Hello!'

'Hello!'

Strings can be concatenated using `+`.

In [58]:
x = 'Hello ' + 'Metro Health'

In [59]:
x

'Hello Metro Health'

We can subset strings using brackets. You just need to specify the starting and ending indices. **Note:** Python starts counting at zero.

`mystring[starting index: (ending index + 1)]`

In [60]:
x[0:5]

'Hello'

In [61]:
x[6:8]

'Me'

Giving just a single number will extract out a single letter.

In [62]:
x[8]

't'

In [63]:
x[:5]

'Hello'

You can also use negative indices to count from the end of a string.

In [64]:
x[-3:]

'lth'

Strings also have many useful **methods**. These are invoked by using
`mystring.<method name>()`

For example, we can lowercase all letters of a string by using the `lower` method.

In [65]:
x.lower()

'hello metro health'

Notice that you can pull up the docstring of a method (or function) by placing your cursor inside the paratheses and pressing Shift + Tab.

In [ ]:
import pandas as pd
import time
import seaborn as sns

### Syntax  - when do we use these?
 - `()` - when calling a function or method; to create a tuple
 - `{}` - when creating a dictionary or set 
 - `[]` - when slicing an iterable; to create a list

### call the `ctime()` method from the time module

### [Python Collections](https://www.w3schools.com/python/python_lists.asp)

#### a _tuple_ is an ordered, immutable list (with or without parentheses)

In [ ]:
tuple1 = (90, 180, 270, 360)
tuple2 = 'Ashley', 'Kim'
tuple4 = tuple()

In [ ]:
print('tuple1 is a ', type(tuple1))
print('tuple2 is a ', type(tuple2))

In [ ]:
tuple2

#### You can concatenate tuples with `+` to combine them, creating a new tuple

In [ ]:
tuple3 = tuple1 + tuple1

In [ ]:
tuple3

In [ ]:
tuple3[1]

#### Every python module, function, and type has a description (docstring) as a built-in attribute `_doc_`

In [ ]:
print(tuple.__doc__)

### your turn
- type `tuple3.` and press `tab` to see the tuple methods
- use each method in the cell below 
- try typing `tuple3.index?` for help understanding how to use the `index()` method

#### immutability

In [ ]:
tuple3[0] = 360

#### a _list_ is ordered and mutable

In [ ]:
list1 = ['red', 'yellow', 'blue', 'green', 'red', 'green']
list2 = ['Cassandra', 'Jinhee', 'Alex', 'Ben', 'Aung Soe', 'Hiral']

In [ ]:
print('list1 is a ', type(list1))
print('list2 is a ', type(list2))

#### lists can also be concatenated with `+`

In [ ]:
list3 = list1 + list2

In [ ]:
list3

In [ ]:
list3[0]

#### mutability

In [ ]:
list3[0] = 'purple'

In [ ]:
list3

type list3. and press tab to see list methods

#### The `pop( )` method will remove the last item from a list or you can specify the position of the item to remove: `pop(2)`

In [ ]:
list3.pop()
list3

#### The `remove()` method will remove the specified element from a list

In [ ]:
list3.remove('Alex')
list3

### your turn
- remove the second `green` from list3

In [ ]:
list3.append('Alex')
list3

#### You can store the item you removed in a variable

In [ ]:
last_one = list3.pop()
last_one

In [ ]:
list3

#### lists are iterable 
- use a for-loop to iterate through list3, add an `s` at the end and create a new list

In [ ]:
plurals = []
for item in list3:
    plurals.append(item + 's')
    
plurals

#### what do you think the next cell does?

In [ ]:
favorite_colors = {}

In [ ]:
type(favorite_colors)

#### you can create a dictionary from two lists by zipping them together and wrapping them with a `dict( )` constructor
- the first list that you pass to the constructor becomes the dictionary keys
- the second list you pass to the constructor becomes the dictionary values matched to the keys in the same order

In [ ]:
favorite_colors = dict(zip(list2, list1))
favorite_colors

#### you can use a `key` to look up a `value`

In [ ]:
favorite_colors['Cassandra']

### your turn
- use a key with the `favorite_colors` dict to find Aung Soe's favorite color

## Sometimes we want to turn a pandas series into a list

### Let's get a _list_ of unique iris species
- first we'll load the dataset from seaborn and look at the first few rows

In [ ]:
# load the iris dataset from seaborn

iris_df = sns.load_dataset('iris')
print(iris_df.shape)
iris_df.head()

### your turn
- what datatype is `iris_df.species`?

#### you can call the `.head( )` method on a series just like you can on a data frame

In [ ]:
iris_df.species.head()

#### you can even assign the series to a new variable

In [ ]:
species = iris_df.species
type(species)

#### to convert it to a list, _wrap it_ with the `list( )` constructor

In [ ]:
species_list = list(species)

print(type(species_list))
print(species_list)

#### passing a list to a set constructor is a handy way to get unique list values

In [ ]:
unique_species = set(species_list)
print(type(unique_species))
unique_species

#### notice that a set is enclosed with curly braces (`{ }`)

### your turn!
- print tuple3
- find the unique values in tuple 3