#### In this exercise, you will use [`sqlalchemy`](https://docs.sqlalchemy.org/en/14/) to connect to a sqlite database, and write sql queries to answer questions. Sqlalchemy supports connecting to a variety of databases and database APIs, including:
- PostgreSQL
- MySQL / MariaDB
- SQLite
- Oracle
- Microsoft SQL Server

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

#since we are looking at poems, we'll bump up the width of our columns
pd.set_option("display.max_colwidth", 250)

### You need to connect to a database using sqlalchemy _before_ you can start writing queries
1. create a database engine using the `create_engine` method

### The basic recipe for connecting to a database using the create_engine method is
`create_engine("<dialect>://<user_name>:<password>@<hostname>/<database name>")`

**for example, if you want to connect to** 
- a database called **TB_cases** 
- on a **SQL Server** production database 
- hosted on a server at **MHDB0012.nashville.gov** 
- with username **RCarpenter** 
- and password **mn#32y!29**
- your **create_engine** function would look like this:

`create_engine('mssql+pymssql://RCarpenter:mn#32y!29@MHDB0012.nashville.gov:1433/TB_cases')`

**For our SQL exercises, you are connecting to a simple file-based sqlite database as shown below.**

In [ ]:
engine = create_engine('sqlite:///../data/poetry_kids.db')

![ERD](../assets/PoetryKids_erd.png)

**We'll write a simple query to find the text of five short (char_count < 20) poems, then use the `pd.read_sql()` method to connect to the database engine and run the query.**

In [ ]:
query0 = '''
            SELECT text 
            FROM poem
            WHERE char_count < 20
            LIMIT 5;
            '''

To execute this query and convert the results to a pandas DataFrame, you can use the `read_sql` function.

In [ ]:
pd.read_sql(query0, con=engine)

1. How many poems in the PoetryKids database are written by someone named Emily.  
    **Note: Names are lower case in this database!!**  
    a. decide what tables you need   
    b. decide how to connect your tables  
    c. decide which columns to select  
    d. decide what filters you want to apply in your `WHERE` clause

**Write the query, then use the `pandas` `read_sql()` method to connect to the database engine and run your query.**

In [ ]:
query1 = '''
           SELECT COUNT(*) 
           FROM poem 
           JOIN author 
           ON poem.author_id = author.id
           WHERE author.name = 'emily';
           '''

In [ ]:
pd.read_sql(query1, con=engine)

2. Find the **angry** poems by poets named emily. Retrieve the text and intensity_percent for each.  
    **Hint:** the emotion name you're looking for is 'Anger'.
    a. decide what tables you need  
    b. decide how to connect your tables  
    c. decide which columns to select  
    d. decide what filters you want to apply in your `WHERE` clause

**Write the query, then use the `pandas` `read_sql()` method to connect to the database engine and run your query.**

In [ ]:
query2 = '''
           SELECT poem.text, poem_emotion.intensity_percent 
           FROM emotion 
           JOIN poem_emotion 
           ON poem_emotion.emotion_id = emotion.id
           JOIN poem
           ON poem_emotion.poem_id = poem.id
           JOIN author
           ON poem.author_id = author.id
           WHERE author.name = 'emily' AND emotion.name = 'Anger';
           '''

In [ ]:
pd.read_sql(query2, con=engine)

3. Find the 5 angriest poems (determined by the intensity_percent) by an emily.  
    **Hint:** You can use your previous query plus the `ORDER BY` and `LIMIT` keywords.  
    a. decide what tables you need   
    b. decide how to connect your tables  
    c. decide which columns to select
    d. decide what filters you want to apply in your `WHERE` clause

**Write the query, then use the `pandas` `read_sql()` method to connect to the database engine and run your query.**

In [ ]:
query3 = '''
           SELECT poem.text, poem_emotion.intensity_percent 
           FROM emotion 
           JOIN poem_emotion 
           ON poem_emotion.emotion_id = emotion.id
           JOIN poem
           ON poem_emotion.poem_id = poem.id
           JOIN author
           ON poem.author_id = author.id
           WHERE author.name = 'emily' AND emotion.name = 'Anger'
           ORDER BY poem_emotion.intensity_percent DESC
           LIMIT 5;
           '''

In [ ]:
pd.read_sql(query3, con=engine)

4. Find the minimum, maximum, and average length of poems by poets named emily.  
    a. decide what tables you need   
    b. decide how to connect your tables  
    c. decide which columns to select  
    d. decide what filters you want to apply in your `WHERE` clause

**Write the query, then use the `pandas` `read_sql()` method to connect to the database engine and run your query.**

In [ ]:
query4 = '''
           SELECT MIN(poem.char_count), MAX(poem.char_count), AVG(poem.char_count) 
           FROM poem 
           JOIN author 
           ON poem.author_id = author.id
           WHERE author.name = 'emily';
           '''

In [ ]:
pd.read_sql(query4, con=engine)