#### In this exercise, you will use [`sqlalchemy`](https://docs.sqlalchemy.org/en/14/) to connect to a sqlite database, and write sql queries to answer questions. Sqlalchemy supports connecting to a variety of databases and database APIs, including:
- PostgreSQL
- MySQL / MariaDB
- SQLite
- Oracle
- Microsoft SQL Server

In [4]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

#since we are looking at poems, we'll bump up the width of our columns
pd.set_option("display.max_colwidth", 250)

### You need to connect to a database using sqlalchemy _before_ you can start writing queries
1. create a database engine using the `create_engine` method

### The basic recipe for connecting to a database using the create_engine method is
`create_engine("<dialect>://<user_name>:<password>@<hostname>/<database name>")`

**for example, if you want to connect to** 
- a database called **TB_cases** 
- on a **SQL Server** production database 
- hosted on a server at **MHDB0012.nashville.gov** 
- with username **RCarpenter** 
- and password **mn#32y!29**
- your **create_engine** function would look like this:

`create_engine('mssql+pymssql://RCarpenter:mn#32y!29@MHDB0012.nashville.gov:1433/TB_cases')`

**For our SQL exercises, you are connecting to a simple file-based sqlite database as shown below.**

In [5]:
engine = create_engine('sqlite:///../data/poetry_kids.db')

![ERD](../assets/PoetryKids_erd.png)

1. How many poems in the PoetryKids database are written by someone named Emily.  
    **Note: Names are lower case in this database!!**  
    a. decide what tables you need   
    b. decide how to connect your tables  
    c. decide which columns to select  
    d. decide what filters you want to apply in your `WHERE` clause

**Write the query, then use the `pandas` `read_sql()` method to connect to the database engine and run your query.**

In [6]:
query1 = '''
           SELECT count(*) 
           FROM poem join author on poem.author_id = author.id
           WHERE author.name = 'emily';
           '''

In [7]:
pd.read_sql(query1, con=engine)

   count(*)
0       301

2. Find the **angry** poems by poets named emily.  
    a. decide what tables you need  
    b. decide how to connect your tables  
    c. decide which columns to select  
    d. decide what filters you want to apply in your `WHERE` clause

**Write the query, then use the `pandas` `read_sql()` method to connect to the database engine and run your query.**

In [8]:
# write your query here

In [1]:
# write code to connect to the database and run your query

3. Find the 5 angriest poems by an emily.  
    a. decide what tables you need   
    b. decide how to connect your tables  
    c. decide which columns to select  
    d. decide what filters you want to apply in your `WHERE` clause

**Write the query, then use the `pandas` `read_sql()` method to connect to the database engine and run your query.**

In [8]:
# write your query here

In [1]:
# write code to connect to the database and run your query

4. Find the minimum, maximum, and average length of poems by poets named emily.  
    a. decide what tables you need   
    b. decide how to connect your tables  
    c. decide which columns to select  
    d. decide what filters you want to apply in your `WHERE` clause

**Write the query, then use the `pandas` `read_sql()` method to connect to the database engine and run your query.**

In [8]:
# write your query here

In [1]:
# write code to connect to the database and run your query